[Unit]
Description=run client-psutil-ws.py (statclient) # /etc/systemd/system/statclient.service
After=multi-user.target

[Service]
Type=simple
Restart=always
StartLimitIntervalSec=0
Restart=always
RestartSec=1s
ExecStart=/usr/bin/python3 /root/scripts/{change to the name of the client.py (client-psutil-ws)}.py

[Install]
WantedBy=multi-user.target
